<div id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Warning</h4>
          </div>
      <div class="modal-body">
        {{content}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn js_close" >Close</button>
      </div>
    </div>
  </div>
</div>     